body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

.App {
  position: relative;
  overflow: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

header {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
}

.search-field {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #000;
  height: 33px;
}

.req-button {
  outline: 0;
  background: transparent;
  border: 2px solid #000;
  height: 37px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.req-button::-moz-focus-inner {
  border: 0;
}

.req-button:hover {
  background-color: #000;
  color: #fff;
}

.content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.package-list {
  padding: 0;
}

.package-list .list-header {
  cursor: pointer;
  height: auto;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.package-list li {
  display: flex;
  height: 8vh;
  padding: 15px 0;
  border-bottom: 1px solid #EDEDED;
  box-shadow: 0 10px 10px -8px #EDEDED;
}

.package-list li div {
  flex: 1;
  margin-right: 10px;
}

.pagination span {
  margin-right: 10px;
  cursor: pointer;
}

.pagination span.is--active {
  font-weight: bold;
}
